* {
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    width: 100%;
    height: 100;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
    float: right;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #ffffff;
    cursor: pointer;
}
.container1{
    width: 100%;
    height: 100%;
}
.web-name ul{
    display: inline-flex;
    margin: 50px;
    float: left;
}
.web-name ul li{
    list-style: none;
    margin: 0 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 30px;
    font-family: broadway;
}
